<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title>
    
    <a type="submit" href="{% url 'index'%}">Index</a>
    <a type="submit" href="">Crear tarea</a>

</head>
<body >
    <h1 style="color:blue">Lista de tareas</h1>
    
    <table style="  width: 80%; border-collapse: collapse; border: 1px solid;">
        <tr>
            <th>#</th>
            <th>Nombre tarea</th>
            <th>Descripcion tarea</th>
            <th>Fecha inicio</th>
            <th>Fecha fin</th>
            <th>Asignado a: </th>
            <th>Acciones</th>
        </tr>
        <tbody >
            {% for u in object_list %}
            <tr style="text-align: center;">
                <td >
                    {{ forloop.counter }}
                </td>
                <td>
                    {{ u.nomtarea }}
                </td>
                <td>
                    {{ u.desctarea }}
                </td>
                <td>
                    {{ u.iniciftarea }}
                </td>
                <td>
                    {{ u.finftarea }}
                </td>
                <td>
                    {{ u.usuario_tarea }}
                </td>
                <td>
                    <a type="submit" href="">Eliminar</a>
                    <a type="submit" href="">Modificar</a>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>