<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar usuarios</title>
    
</head>
<body>
    <a href="{% url 'listausuarios'%}">Listar usuarios</a>
    <h1>
        Modificar usuarios
    </h1>
    <div style="text-align: center;" >
        <form method="post" action="#">
            {% csrf_token %}
            <p>Nombre:</p>
            {{form.usenom}}
            <p>Apellido paterno:</p>
                {{form.appuse}}
            <p>Apellido Materno:</p>
                {{ form.apmuse}}
            <p>Edad:</p> 
                {{form.edad}} 
            
            
                <br>
                <div style="visibility: collapse;">
                    {{form.activo}}
                </div>
                <br>
    
            <button type="submit">Actualizar tarea</button>
            
        </form>
    </div>
    
</body>
</html>